body {
  font-family: Arial, sans-serif;
  font-family: Quicksand, sans-serif;
  font-family: Raleway, sans-serif;
  background-color: #fbdce4
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
h1 {
  color: #e5006c;
  font-family: 'Quicksand', sans-serif;
}
.question {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
}
label {
  display: block;
  margin-bottom: 5px;
}
button {
  padding: 10px 20px;
  background: #ffce00;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

input[type="checkbox"] {
  accent-color: #ffce00; /* maakt het vinkje GEEL */
}


.results {
  margin-top: 30px;
  background: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
}